@font-face {
  font-family: 'Roboto Light';
  src: url('../../assets/fonts/Roboto/Light/Roboto-Light.eot');
  src: url('../../assets/fonts/Roboto/Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Roboto/Light/Roboto-Light.woff') format('woff'),
  url('../../assets/fonts/Roboto/Light/Roboto-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../../assets/fonts/Roboto/Regular/Roboto-Regular.eot');
  src: url('../../assets/fonts/Roboto/Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Roboto/Regular/Roboto-Regular.woff') format('woff'),
  url('../../assets/fonts/Roboto/Regular/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'VisueltPro';
  src: url('../../assets/fonts/VisueltPro/Medium/VisueltPro-Medium.eot');
  src: url('../../assets/fonts/VisueltPro/Medium/VisueltPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/VisueltPro/Medium/VisueltPro-Medium.woff') format('woff'),
  url('../../assets/fonts/VisueltPro/Medium/VisueltPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
