@import "./styles/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

body {
  font-family: 'Roboto', 'Ubuntu', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: normal;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
